@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  color: white;
}

.cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-perspective: 1000px;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.cube {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(500px, 80vh);
  height: min(500px, 80vh);
  transform-style: preserve-3d;
  z-index: 1;
  transition: transform .3s linear;
}

.cube-inner {
  transform-style: preserve-3d;
  transition: transform .5s linear, opacity 0.3s ease, font-size 0.15s ease;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  transform-style: preserve-3d;
  overflow: hidden;
  border: 2px solid #ffffff50;
  background: linear-gradient(90deg, rgba(2,0,36,0.3) 0%, rgba(9,9,121,0.3) 35%, rgba(0,212,255,0.3) 100%);
  transition: transform .3s ease, border-radius .3s ease;
}

.face-content {
  position: relative;
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
}

.face-content h1 {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  user-select: none; 
  font-size: 80px;
  transition: all .3s ease;
  text-shadow: 3px 3px 11px rgba(3, 3, 24, 0.3);
  color: white;
}

.face-content:hover h1 {
  font-size: 120px;
  text-decoration-line: underline
}

.face:active {
  border: 5px solid #ffffff50;
  border-radius: 50px;
}

/* Face transforms */
.front  { transform: translateZ(min(250px, 40vh)); }
.back   { transform: rotateY(180deg) translateZ(min(250px, 40vh)); }
.right  { transform: rotateY(90deg) translateZ(min(250px, 40vh)); }
.left   { transform: rotateY(-90deg) translateZ(min(250px, 40vh)); }
.top    { transform: rotateX(90deg) translateZ(min(250px, 40vh)); }
.bottom { transform: rotateX(-90deg) translateZ(min(250px, 40vh)); }

.front:active  { transform: translateZ(min(300px, 45vh)); }
.back:active   { transform: rotateY(180deg) translateZ(min(300px, 45vh)); }
.right:active  { transform: rotateY(90deg) translateZ(min(300px, 45vh));  }
.left:active   { transform: rotateY(-90deg) translateZ(min(300px, 45vh)); }
.top:active    { transform: rotateX(90deg) translateZ(min(300px, 45vh));  }
.bottom:active { transform: rotateX(-90deg) translateZ(min(300px, 45vh)); }

.desaturated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../public/bg-home.jpg') center center/cover no-repeat;
  z-index: 0;
}